<pluginMetaData path="datatype-fhir">
	<name>FHIR Data Type</name>
	<author>X Connections</author>
	<pluginVersion>1.0.1</pluginVersion>
	<mirthVersion>4.6.0</mirthVersion>
	<url>https://x-connections.info</url>
	<description>This plugin provides the HL7 FHIR data type: FHIR JSON and XML in, FHIR XML in the transformer, FHIR JSON or XML out, with validation against the FHIR specification and your own profiles (HAPI FHIR).</description>
	<serverClasses>
		<string>com.mirth.connect.plugins.datatypes.fhir.server.FhirDataTypeServerPlugin</string>
	</serverClasses>
	<clientClasses>
		<string>com.mirth.connect.plugins.datatypes.fhir.client.FhirDataTypeClientPlugin</string>
	</clientClasses>
	<templateClassName>com.mirth.connect.plugins.datatypes.fhir.client.FhirDataTypeCodeTemplatePlugin</templateClassName>
	<library type="CLIENT" path="datatype-fhir-client.jar" />
	<library type="SHARED" path="datatype-fhir-shared.jar" />
	<library type="SERVER" path="datatype-fhir-server.jar" />
	<!-- lib/ (HAPI FHIR) is not listed: the plugin loads it in its own class loader. -->
</pluginMetaData>
